html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}


.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}