@import 'fonts.scss';
@import 'global.scss';
@import 'reset.scss';

body {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 400;

}


/////////**** header ****/////////

.header {
    background: #0A0A0A;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.header-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0a0a0a8a;
    backdrop-filter: blur(3px);
    z-index: -1;
    opacity: 0;
    transform: translate(0%, 0%);
}



.lock {
    overflow: hidden;
}

.header-nav {
    position: absolute;
    top: 0;
    right: -45px;
    width: 397px;
    height: 100vh;
    background-color: #1F1F1F;
    color: #FFFFFF;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
    padding-top: 145px;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
    transform: translate(150%, 0%);
    opacity: 0;
    transition: 0.3s ease-out;

}

.activ {
    transform: translate(0%, 0%);
    opacity: 1;
    transition: 0.3s ease-out;
    z-index: 3;
}

.header-nav__item-link {
    display: flex;
    align-items: center;
}

.header-nav__item-link:hover>.header-nav__item-hover {
    opacity: 1;
    width: 35px;
    transition: 0.3s ease-out;
}

.header-nav__item-hover {
    opacity: 0;
    width: 0;
    padding-left: 10px;
    transition: 0.3s ease-out;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header-logo {
    display: flex;

}

.header-list-info__btn:hover>.header-list-info__btn-img {
    filter: invert(100%);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 39px;
    position: relative;

    &-info {
        display: flex;
        align-items: center;
        margin-right: 49px;

        &__btn {
            width: 50px;
            height: 50px;
            border: none;
            background-color: #C9BB9C;

            &:hover {
                border: 1px solid #C9BB9C;
                background-color: transparent;

            }

        }

        &__text {
            width: 142px;
            margin-left: 7px;
            font-size: 15px;
            font-weight: 500;
        }
    }

}

.header-list-number-top {
    display: flex;
    align-items: center;

    &__text {
        font-size: 12px;
        font-weight: 500;
        padding-left: 5px;
    }
}

.header-list-number-top__elips {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C9BB9C;
}

.header-list-number__link {
    font-size: 18px;
    font-weight: 500;
}

.header-list__btn {
    width: 240px;
    height: 50px;
    background-color: #C9BB9C;
    color: #0A0A0A;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.56px;

    &:hover {
        border: 1px solid #C9BB9C;
        color: #C9BB9C;
        background-color: transparent;
    }
}


.header-list-menu {
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
    margin: 30px 0;
    z-index: 6;

    &::after {
        position: absolute;
        right: 0;
        height: 10%;
        width: 80%;
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
    }

    &::before,
    & span {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
    }
}

.header-list-menu::after,
.header-list-menu::before {
    content: "";
}

.header-list-menu::after {
    bottom: 0;
}

.header-list-menu::before {
    top: 0;
}

.header-list-menu span {
    top: 11px;

}

.open::before {
    transform: rotate(45deg);
    top: 11px;
}

.open::after {
    transform: rotate(-45deg);
    bottom: 11px;
    width: 100%;
}

.open span {
    transform: scale(0);
}

.header-list-number__link-popap {
    position: absolute;
    top: 20px;
    right: 74px;
    background-color: #FFFFFF;
    padding: 15px 20px;
    z-index: 1;
    width: 250px;
    transform: translate(0%, -150%);
    transition: 0.3s ease-out;
    z-index: 10;

    &-title {
        font-size: 13px;
        font-weight: 600;
        color: #0A0A0A;
        padding-bottom: 25px;
    }

    &-tel {
        width: 100%;
        height: 40px;
        padding: 12px 0 12px 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    &-text {
        font-size: 13px;
        font-weight: 300;
        color: #0A0A0A;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 11px;
        padding-bottom: 25px;

        & input {
            -webkit-appearance: none;
            -moz-appearance: none;
            min-width: 14px;
            min-height: 14px;
            border: 1px solid #0A0A0A;
            background-color: transparent;
            cursor: pointer;

            &:checked {
                background-color: #0A0A0A;
                border: 1px solid #0A0A0A;
            }
        }

        & p {
            padding-left: 5px;
        }
    }
}

.header-list-number__link-popap-btn {
    width: 100%;
    height: 42px;
    padding: 12px 0;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #C9BB9C;
}

.open-popap {
    transform: translate(0%, 0%);
}

.activ-popap {
    z-index: 7;
    transform: translate(0%, 0%);
    opacity: 1;
    transition: 0.3s ease-out;
}




/////////**** section(heder-button) ****/////////



.header-content {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;

    &-left {
        width: auto;

        &__title {
            padding: 168px 0 94px 0;
            font-size: 30px;
            font-weight: 500;
            width: 542px;
            margin-right: 0;

            &--color {
                color: #C9BB9C;
            }
        }

        &-text {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            &__line {
                width: 62px;
                border-bottom: 1px solid #C9BB9C;
            }

            &__content {
                font-size: 20px;
                font-weight: 400;
                color: #DEDEDE;
                width: 400px;
                font-family: 'Manrope', sans-serif;
                padding-left: 22px;
            }
        }

        &__btn {
            position: relative;
            width: 164px;
            height: 57px;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
            font-family: 'Manrope', sans-serif;
            background-color: transparent;
            margin-bottom: 114px;

            &:hover {
                border: 2px solid #C9BB9C;
                color: #C9BB9C;
            }

            &--img {
                position: absolute;
                top: 21px;
                right: -38px;
            }
        }
    }
}

.header-content-right-fon {
    position: absolute;
    top: 0;
    left: 0;
}

.header-content-right {
    width: 69%;
    position: relative;

    &__fon {
        display: none;
    }

}


.header-content-right__btnone {
    opacity: 1;
    position: absolute;
    top: 169px;
    left: 368px;
    width: 64px;
    height: 64px;
    padding: 2px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    transition: 0.3s ease-out;

    & div {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: #0A0A0A;
    }
}

.header-content-right__btnone-open {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, 0);
    position: absolute;
    top: 169px;
    left: 368px;
    width: 64px;
    height: 64px;
    border: 1px solid #FFFFFF;
    padding: 2px;
    background-color: transparent;
    z-index: 2;
    transition: 0.3s ease-out;

    &:hover {
        background-color: #0A0A0A;
    }
}

.header-content-right__btnone-open-border {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 40px;
        height: 40px;
    }
}

.header-content-right__btnone-open-popap-text {
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-20%, 0%);
    color: #FFFFFF;
    padding: 30px 45px 30px 16px;
    width: 289px;
    background-color: #0a0a0a60;
    position: absolute;
    top: 150px;
    left: 115px;
    z-index: 1;
    transition: 0.3s ease-out;

    & span {
        color: #C9BB9C;
    }
}




.header-content-right {
    &__btntwo {
        position: absolute;
        top: 313px;
        left: 699px;
        width: 51px;
        height: 56px;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 2px;
        border: 1px solid #FFFFFF;
        transition: 0.3s ease-out;

        & div {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: #0A0A0A;
        }
    }

    &__btntwo-open {
        position: absolute;
        top: 313px;
        left: 699px;
        width: 51px;
        height: 56px;
        border: 1px solid #FFFFFF;
        padding: 2px;
        background-color: transparent;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: translate(-100%, 0);
        transition: 0.3s ease-out;

        &:hover {
            background-color: #0A0A0A;
            transition: 0.3s ease-out;
        }
    }

    &__btntwo-open-border {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 40px;
            height: 40px;
        }
    }


    &__btntwo-open-popap-text {
        font-size: 18px;
        opacity: 0;
        visibility: hidden;
        color: #FFFFFF;
        padding: 30px 45px 30px 16px;
        width: 250px;
        background-color: #0a0a0a60;
        position: absolute;
        top: 294px;
        left: 478px;
        z-index: 1;
        transform: translate(-20%, 0%);
        transition: 0.3s ease-out;

        & span {
            color: #C9BB9C;
        }
    }
}


.header-content-right {
    &__btnthree {
        position: absolute;
        opacity: 1;
        top: 482px;
        left: 158px;
        width: 56px;
        height: 56px;
        background-color: transparent;
        padding: 2px;
        border: 1px solid #FFFFFF;
        transition: 0.3s ease-out;

        & div {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: #0A0A0A;
        }
    }

    &__btnthree-open {
        position: absolute;
        top: 482px;
        left: 158px;
        width: 56px;
        height: 56px;
        border: 1px solid #FFFFFF;
        padding: 2px;
        background-color: transparent;
        z-index: 2;
        transform: translate(100%, 0%);
        visibility: hidden;
        transition: 0.3s ease-out;
        opacity: 0;

        &:hover {
            background-color: #0A0A0A;
        }
    }

    &__btnthree-open-border {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btnthree-open-popap-text {
        font-size: 18px;
        color: #FFFFFF;
        padding: 17px 5px 17px 45px;
        width: 357px;
        background-color: #0a0a0aaf;
        position: absolute;
        top: 459px;
        left: 186px;
        z-index: 1;
        transform: translate(20%, 0%);
        visibility: hidden;
        transition: 0.3s ease-out;
        opacity: 0;

        & span {
            color: #C9BB9C;
        }
    }
}



.open-modal {
    opacity: 1;
    transform: translate(0%, 0%);
    visibility: visible;
    transition: 0.3s ease-out;
}

.close {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-out;
}

.open-btn {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
    transition: 0.3s ease-out;
}
